// optional dark mode styles
// -----------------
// no-preference: Someone hasn’t expressed a preference.
// light: Someone has selected a light theme
// dark: Someone has selected a dark theme
// https://caniuse.com/#search=prefers
@media (prefers-color-scheme: dark) {
  $body-background: $black;
  $body-font-color: $white;
}

// @element '.app-wrapper-body-content' {
//   eq_self {
//     background: gold;
//   }
// }

// sets grid-container gutter to grid gutter
.grid-container {
  padding-left: map-get($grid-margin-gutters, small);
  padding-right: map-get($grid-margin-gutters, small);

  @include breakpoint(medium) {
    padding-left: map-get($grid-margin-gutters, medium);
    padding-right: map-get($grid-margin-gutters, medium);
  }
}

// grid-container with vertical spacing
.section {
  @extend .grid-container;
  padding-top: $section-spacing/2;
  padding-bottom: $section-spacing/2;

  @include breakpoint(medium) {
    padding-bottom: $section-spacing;
    padding-top: $section-spacing;
  }
}

// utilities
.pb0 {
  padding-bottom: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-wrapper-body {
  display: flex;
  flex: 1 1 auto;
}

.app-wrapper-body-content {
  background-color: $white;
  flex: 1 1 0;
  overflow-y: auto;
  padding: rem-calc(20);
  transition: margin-left $offcanvas-transition-length $offcanvas-transition-timing, width $offcanvas-transition-length $offcanvas-transition-timing;
}

@mixin shrunk-sidebar() {
  .app-wrapper-sidebar-block-title {
    display: none;
  }

  .app-wrapper-sidebar-toggle-button {
    transform: rotate(180deg);
  }

  .app-wrapper-sidebar {
    width: $app-wrapper-collapsed-sidebar-width;
  }

  .app-wrapper-body-content {
    margin-left: $app-wrapper-collapsed-sidebar-width;
    width: calc(100% - #{$app-wrapper-collapsed-sidebar-width});
  }

  .menu {
    li > a {
      svg {
        margin: 0;
      }

      .app-wrapper-sidebar-text {
        display: none;
      }
    }
  }
}

.position-left.reveal-for-medium {
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
}

// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .app-wrapper.shrink-medium {
    @include shrunk-sidebar()
  }
}

@include breakpoint(large) {
  .app-wrapper.shrink-large {
    @include shrunk-sidebar()
  }
}

// divider
// ----------
.container-divider-right {
  border-bottom: $container-border;

  @include breakpoint(medium) {
    border-right: $container-border;
    border-bottom: 0;
  }
}
































// site index styles - remove in production
// -----------------------------------------
.index-header {
  text-align: center;
  padding-top: 2rem;

  .zurb-logo {
    height: rem-calc(12);
    margin-bottom: rem-calc(12);
  }

  .index-header-label {
    border-bottom: 1px solid $medium-gray;
    font-weight: bold;
    padding-bottom: 0.7rem;
  }

  @include breakpoint(large) {
    @include flex-middle-justify;

    .zurb-logo {
      height: rem-calc(20);
      margin-bottom: 0;
    }

    .index-header-label {
      background-color: #BBD033;
      padding: 1rem 2rem;
      color: $white;
    }
  }
}

.index-layout {
  padding-bottom: 2rem;

  .cell {
    @include transition(box-shadow 0.3s);
    box-shadow: $card-shadow;

    &.is-disabled {
      opacity: 0.25;
      pointer-events: none;
    }

    > a {
      display: block;
    }

    img {
      margin-bottom: 0.25rem;
      object-fit: cover;
      height: 190px;
      display: block;
      width: 100%;
    }

    &:hover {
      box-shadow: $container-box-shadow;
    }
  }

  .index-label {
    color: $body-font-color;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @include breakpoint(medium) {
    padding-bottom: 3rem;
  }
}

.body-route-index {
  .app-wrapper-sidebar {
    display: none;
  }

  .app-wrapper .app-wrapper-body-content {
    margin-left: 0;
    width: 100%;
  }
}
