$app-wrapper-collapsed-sidebar-width: map-get($offcanvas-sizes, small);
$app-wrapper-sidebar-width: map-get($offcanvas-sizes, medium);
$sidebar-main-bg: $body-background;

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-wrapper-body {
  display: flex;
  flex: 1 1 auto;
}

.app-wrapper-body-content {
  background-color: $white;
  flex: 1 1 0;
  overflow-y: auto;
  padding: rem-calc(20);
  transition: margin-left $offcanvas-transition-length $offcanvas-transition-timing, width $offcanvas-transition-length $offcanvas-transition-timing;
}

@mixin shrunk-sidebar() {
  .app-wrapper-sidebar-block-title {
    display: none;
  }

  .app-wrapper-sidebar-toggle-button {
    transform: rotate(180deg);
  }

  .app-wrapper-sidebar {
    width: $app-wrapper-collapsed-sidebar-width;
  }

  .off-canvas-content {
    margin-left: $app-wrapper-collapsed-sidebar-width;
    width: calc(100% - #{$app-wrapper-collapsed-sidebar-width});
  }

  .menu {
    li {
      &::after {
        display: none;
        opacity: 0;
        transition: opacity $offcanvas-transition-length $offcanvas-transition-timing;
      }

      a {
        svg {
          margin: 0;
        }

        span {
          display: none;
          opacity: 0;
          transition: opacity $offcanvas-transition-length $offcanvas-transition-timing;
        }
      }
    }
  }
}

.position-left.reveal-for-medium {
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
}

// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .app-wrapper.shrink-medium {
    @include shrunk-sidebar()
  }
}

@include breakpoint(large) {
  .app-wrapper.shrink-large {
    @include shrunk-sidebar()
  }
}

// divider
// ----------
.container-divider-right {
  border-bottom: $callout-border;

  @include breakpoint(medium) {
    border-right: $callout-border;
    border-bottom: 0;
  }
}

// index presentation - discard at any time
// ----------
.index-header {
  text-align: center;

  .zurb-logo {
    height: 12px;
    margin-bottom: 12px;
  }

  .index-header-label {
    border-bottom: 1px solid $medium-gray;
    color: $white;
    font-weight: bold;
    padding-bottom: 0.7rem;
  }

  @include breakpoint(large) {
    @include flex-middle-justify;

    .zurb-logo {
      height: 20px;
      margin-bottom: 0;
    }

    .index-header-label {
      background-color: #BBD033;
      padding: 1rem 2rem;
    }
  }
}
