%flex-base-reset {
  display: flex;
  align-items: center;
  justify-content: center;

  > button,
  > .button,
  > .switch,
  > input,
  > textarea,
  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-bottom: 0;
    align-self: center;
  }
}

@mixin flex-centerer {
  @extend %flex-base-reset;
  align-items: center;
  justify-content: center;
}

@mixin flex-middle-justify {
  @extend %flex-base-reset;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-middle-spaced {
  @extend %flex-base-reset;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-middle-end {
  @extend %flex-base-reset;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-bottom-justify {
  @extend %flex-base-reset;
  align-items: flex-end;
  justify-content: space-between;
}
