@mixin truncate($width, $display: initial) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  max-width: $width;
  display: $display;
}

@mixin truncate-lines($lines, $line-height: 1.5) {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  height: 1rem * $line-height * $lines;

  &:after {
    top: 1rem * $line-height * ($lines - 1);
  }
}

@mixin truncate-responsive {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
