// Link colors
@mixin text-round {
  a:hover:not(.button) {
    border-radius: $global-radius;
    padding: 0.2rem;
    margin: -0.2rem;
  }
}
a {
  &:active {
    opacity: 0.6;
  }
}
.index a {
  color: $home;
  -webkit-tap-highlight-color: rgba(45,175,74,0.2);
  &:hover {
    color: scale-color($home, $lightness: -14%);
    background: rgba(45,175,74,0.2);
  }
}
.experience a {
  color: $experience;
  -webkit-tap-highlight-color: rgba(232,152,60,0.2);
  &:hover {
    color: scale-color($experience, $lightness: -14%);
    background: rgba(232,152,60,0.2);
  }
}
.connect a {
  color: $connect;
  -webkit-tap-highlight-color: rgba(231,76,60,0.2);
  &:hover {
    color: scale-color($connect, $lightness: -14%);
    background: rgba(231,76,60,0.2);
  }
}
// Text diff effect
// h2 {
//   color: $primary-color;
//   mix-blend-mode: difference;
// }

// Circle image with border
.img-circle img,
.img-circle svg {
  border: 3px solid $primary-color;
  border-radius: 50%;
}
.icon img {
  background: #fff;
  //padding: 5px;
}
// Background and border colors for each page
.background {
  background: $primary-color;
}
.secondary-color {
  a {
    color: $secondary-color;
  }
  img,
  svg {
     border-color: $secondary-color;
  }
  .background {
    background: $secondary-color;
  }
  // h2 {
  //   color: $secondary-color;
  // }
}
.third-color {
  a {
    color: $red;
  }
  img,
  svg {
     border-color: $red;
  }
  .background {
    background: $red;
  }
  // h2 {
  //   color: $red;
  // }
}
// Fix link colors on colored backgrounds
[data-parallax-bg] {
  a {
    color: #fff;
    opacity: 0.85;
    &:hover {
      color: #fff;
      background: rgba(255,255,255,0.2);
      opacity: 1;
    }
  }
  small {
    color: $light-gray;
  }
}

// CTA
.cta {
  margin-top: 2rem;
  text-align: center;
  h3 {
    margin-bottom: 0;
  }
}

// Hero section
.hero {
  text-align: center;
  .grid-frame {
    height: 90vh;
  }
  img,
  svg {
    margin-bottom: 4vh;
    height: 25vh;
  }
  p {
    margin-bottom: 2.5rem;
  }
  .cta-group {
    //max-width: 400px;
    margin: 2vh auto 0;
  }
  .button {
    margin-bottom: 1rem;
  }
  @include text-round;
}

// Standard section styles
.section {
  position: relative;
  padding-bottom: 5rem;
  &:last-child {
    padding-bottom: 15rem;
  }
  .section-teaser {
    padding-bottom: 1rem;
  }
  @include text-round;
}
.sub-section {
  margin-top: 2rem;
}

// Section background parallax
[data-parallax-bg] {
  .background {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: calc(100% + 3rem);
    top: 2rem;
    z-index: -1;
  }
}

// Experience timeline sections
.media-object {
  .thumbnail {
    margin-left: -4rem;
  }
}

// Experience owl carousel
.owl-item {
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.5s; /* Safari */
  transition: opacity 0.5s;
  opacity: 0.5;
  &.center {
    padding: 0;
    opacity: 1;
    img {
      padding: 0 0 1rem 0;
    }
  }
  .item {
    @include xy-grid-container;
    padding: 0;
  }
  img {
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
    padding: 1rem;
    border: 0;
    max-width: 80%;
    max-width: max-content;
    margin: 0 auto;
  }
  .icon {
    max-width: 300px;
  }
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  width: calc(18% - 20px);
  height: 100%;
}
.owl-next {
  right: 0;
}
.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #ddd;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
    }
    &.active span,
    &:hover span {
      background: #333;
    }
  }
}

// Social media menu
.social {
  img,
  svg {
    width: 2rem;
  }
}
