@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Slab');

body {
  font-family: 'Roboto Slab', serif;
}
h1, h2, h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

// Link colors
a:active {
  opacity: 0.6;
}
.index a {
  color: $home;
  -webkit-tap-highlight-color: rgba(45,175,74,0.2);
  &:hover {
    color: scale-color($home, $lightness: -14%);
    background: rgba(45,175,74,0.2);
  }
}
.experience a {
  color: $experience;
  -webkit-tap-highlight-color: rgba(232,152,60,0.2);
  &:hover {
    color: scale-color($experience, $lightness: -14%);
    background: rgba(232,152,60,0.2);
  }
}
.connect a {
  color: $connect;
  -webkit-tap-highlight-color: rgba(231,76,60,0.2);
  &:hover {
    color: scale-color($connect, $lightness: -14%);
    background: rgba(231,76,60,0.2);
  }
}
// Text diff effect
// h2 {
//   color: $primary-color;
//   mix-blend-mode: difference;
// }

// Default background colors and borders
img {
  border: 3px solid $primary-color;
}
.background {
  background: $primary-color;
}
.secondary-color {
  a {
    color: $secondary-color;
  }
  img {
     border-color: $secondary-color;
  }
  .background {
    background: $secondary-color;
  }
  // h2 {
  //   color: $secondary-color;
  // }
}
.third-color {
  a {
    color: $red;
  }
  img {
     border-color: $red;
  }
  .background {
    background: $red;
  }
  // h2 {
  //   color: $red;
  // }
}
// Fix link colors on colored backgrounds
[data-parallax-bg] {
  a {
    color: #fff;
    opacity: 0.85;
    &:hover {
      color: #fff;
      opacity: 1;
    }
  }
}

.no-border img {
  border: 0;
}

// Hero section
.hero {
  text-align: center;
  .grid-frame {
    height: 90vh;
  }
  img {
    border-radius: 50%;
    margin-bottom: 5vh;
    height: 25vh;
  }
  p {
    margin-bottom: 5vh;
  }
  .cta-group {
    max-width: 350px;
    margin: 0 auto;
  }
  .button {
    margin-top: 2vh;
  }
}

// Standard section
.section {
  position: relative;
  padding-bottom: 6rem;
  .img {
    text-align: center;
    img {
      border-radius: 50%;
    }
  }
}

// Section background parallax
[data-parallax-bg] {
  .background {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: calc(100% + 3rem);
    top: 2rem;
    z-index: -1;
  }
}

// Experience timeline sections
.media-object {
  .thumbnail {
    margin-left: -5rem;
  }
}

// Experience owl carousel
.owl-item {
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.5s; /* Safari */
  transition: opacity 0.5s;
  opacity: 0.5;
  img {
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
    padding: 1rem;
    border: 0;
    max-width: 300px;
    margin: 0 auto;
  }
  &.center {
    padding: 0;
    opacity: 1;
    img {
      padding: 0 0 1rem 0;
    }
  }
  .item {
    @include xy-grid-container;
    padding: 0;
  }
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  width: calc(18% - 15px);
  height: 100%;
}
.owl-next {
  right: 0;
}
.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #ddd;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
    }
    &.active span,
    &:hover span {
      background: #333;
    }
  }
}
