.hero {
  text-align: center;

  .grid-frame {
    height: 90vh;
  }
  img {
    border-radius: 50%;
    margin-bottom: 5vh;
    height: 25vh;
  }
  p {
    margin-bottom: 5vh;
  }
  .cta-group {
    max-width: 350px;
    margin: 0 auto;
  }
  .button {
    margin-top: 2vh;
  }
}

// Section default spacing
.section {
  position: relative;
  padding-bottom: 6rem;
  .img {
    text-align: center;
    img {
      border-radius: 50%;
      border: 2px solid $primary-color;
    }
  }
  @at-root .secondary-color {
    .img img {
       border-color: $secondary-color;
    }
  }
}

// Section background parallax
[data-parallax-bg] {
  .background {
    position: absolute;
    display: block;
    background: $primary-color;
    content: ' ';
    width: 100%;
    height: calc(100% + 4rem);
    top: 2rem;
    z-index: -1;
  }
  a {
    color: #fff;
  }
  @at-root .secondary-color {
    .background {
      background: $secondary-color;
    }
  }
}

// Experience timeline sections
.media-object {
  .thumbnail {
    margin-left: -5rem;
  }
}

// Experience owl carousel
.owl-item {
  -webkit-transition: opacity 0.5s; /* Safari */
  transition: opacity 0.5s;
  opacity: 0.5;
  img {
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
    padding: 1rem;
  }
  &.center {
    padding: 0;
    opacity: 1;
    img {
      padding: 0 0 1rem 0;
    }
  }
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 100%;
}
.owl-next {
  right: 0;
}