// Link colors
@mixin text-round {
  a:hover:not(.button) {
    border-radius: $global-radius;
    padding: 0.2rem;
    margin: -0.2rem;
  }
}

// Webfont loading flash avoidance
h1,
h2,
h3,
h4,
h5,
h6,
p,
.button,
.menu a {
  @include transPrefix(opacity, 0.25s);
}
.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .button,
  .menu a {
    opacity: 0;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: -0.03em;
}

a {
  &:active {
    opacity: 0.6;
  }
}
.index a {
  -webkit-tap-highlight-color: rgba(45,175,74,0.2);
  &:hover {
    color: scale-color($home, $lightness: -14%);
    background: rgba(45,175,74,0.2);
  }
}
// Circle image with border
.img-circle img,
.img-circle svg {
  border: 3px solid $home;
  border-radius: 50%;
}
.icon img {
  background: #fff;
}

// Back arrow icon
.icon-back {
  @include css-triangle(6px, $home, left);
  display: inline-block;
  margin-right: 5px;
}
a:hover .icon-back {
  border-right-color: scale-color($home, $lightness: -14%);
}

// Background and border colors for each page
.background {
  background: $primary-color;
}
.experience {
  a {
    color: $experience;
    -webkit-tap-highlight-color: rgba(232,152,60,0.2);
    &:hover {
      color: scale-color($experience, $lightness: 0%);
      background: rgba(232,152,60,0.2);
    }
  }
  img,
  svg {
     border-color: $experience;
  }
  .background {
    background: $experience;
  }
  .media-object {
    .thumbnail {
      img,
      svg {
        width: 7rem;
        height: 7rem;
      }
    }
  }
}
.connect {
  a {
    color: $connect;
    -webkit-tap-highlight-color: rgba(231,76,60,0.2);
    &:hover {
      color: scale-color($connect, $lightness: -14%);
      background: rgba(231,76,60,0.2);
    }
  }
  img,
  svg {
     border-color: $connect;
  }
  .background {
    background: $connect;
  }
  .media-object {
    .thumbnail {
      img,
      svg {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
// Fix link colors on colored backgrounds
[data-parallax-bg] {
  a {
    color: #fff;
    opacity: 0.85;
    &:hover {
      color: #fff;
      background: rgba(255,255,255,0.2);
      opacity: 1;
    }
  }
  small {
    color: #fff;
    opacity: 0.6;
  }
}

// CTA
.cta {
  margin-top: 2rem;
  text-align: center;
  h3 {
    margin-bottom: 0;
  }
}

// Hero section
.hero {
  text-align: center;
  .grid-frame {
    height: 90vh;
  }
  img,
  svg {
    margin-bottom: 4vh;
    height: 25vh;
  }
  p {
    margin-bottom: 2.5rem;
  }
  .cta-group {
    //max-width: 400px;
    margin: 2vh auto 0;
  }
  .button {
    margin-bottom: 1rem;
  }
  @include text-round;
}

// Standard section styles
.section {
  position: relative;
  padding-bottom: 5rem;
  &:last-child {
    padding-bottom: 15rem;
  }
  .section-teaser {
    padding-bottom: 1rem;
  }
  @include text-round;
}
.sub-section {
  margin-top: 2rem;
}

// Section background parallax
[data-parallax-bg] {
  .background {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: calc(100% + 3rem);
    top: 2rem;
    z-index: -1;
  }
}

// Experience timeline sections
.media-object {
  .thumbnail {
    margin-left: -4rem;
  }
}

// Experience owl carousel
.owl-item {
  @include transPrefix(opacity 0.5s);
  opacity: 0.5;
  &.center {
    padding: 0;
    opacity: 1;
    img {
      padding: 0 0 1rem 0;
    }
  }
  .item {
    @include xy-grid-container;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
  img {
    @include transPrefix(padding 0.5s);
    padding: 1rem;
    border: 0;
    max-width: 80%;
    max-width: max-content;
    margin: 0 auto;
  }
  .icon {
    max-width: 300px;
  }
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  width: calc(18% - 10px);
  height: 100%;
  @include breakpoint(large) {
    width: calc(18% - 20px);
  }
  &.disabled {
    display: none;
  }
}
.owl-next {
  right: 0;
}
.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #ddd;
      display: block;
      -webkit-backface-visibility: visible;
      @include transPrefix(opacity 200ms ease);
      border-radius: 30px;
    }
    &.active span,
    &:hover span {
      background: #333;
    }
  }
}

// Modals
// Fixes flash in mobile reveal close
@include breakpoint(small only) {
  body.is-reveal-open {
    background: rgba($black, 0.45);
  }
}
.modal-button {
  padding: 0.5rem;
  width: 100%;
}
.portfolio-thumb {
  padding: 0;
  margin: 0 auto 0.5rem;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  background: #fff;
}

.reveal {
  @include text-round;
}

.device-screenshot {
  margin: 2rem;
  max-width: 600px;
}

// Experience device screenshots
.device-container {
  position: relative;
  overflow: visible;
  margin: 2rem 0;
}
.device {
  position: relative;
  z-index: 2;
  .frame {
    position: relative;
    z-index: 2;
  }
  .img-frame {
    background: #fff;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
}

.device-desktop {
  width: 300px;
  margin: 0 auto;
  .img-frame {
    top: 11px;
    left: 11px;
    width: 278px;
    height: 157px;
  }
}

@include breakpoint(medium) {
  .device-container {
    margin-left: 2rem;
  }
  .device-desktop {
    width: 500px;
    .img-frame {
      top: 19px;
      left: 18px;
      width: 462px;
      height: 260px;
    }
  }
}


// Social media menu
.social {
  img,
  svg {
    width: 2rem;
  }
}
