.nav-primary {
  font-family: 'Comfortaa', cursive;
  opacity: 0.6;
  position: fixed;
  bottom: -40px;
  width: 100%;
  z-index: 1000;
  background: #fff;
  -webkit-transition: bottom 1s, opacity 0.5s; /* Safari */
  transition: bottom 1s, opacity 0.5s;
  &.visible {
    bottom: 0;
  }
  @include breakpoint(large) {
    top: 0;
    bottom: auto !important;
  }
  .is-active {
    font-weight: 700;
  }
  &:hover {
    opacity: 0.95;
  }
}
.index .nav-primary .is-active {
  background: rgba(45, 175, 74, 0.1);
}
.experience .nav-primary .is-active {
  background: rgba(232, 152, 60, 0.1);
}
.connect .nav-primary .is-active {
  background: rgba(231, 76, 60, 0.1);
}