.nav-primary {
  opacity: 0.8;
  position: fixed;
  bottom: -100vh;
  width: 100%;
  z-index: 1000;
  background: #fff;
  -webkit-transition: bottom 1s; /* Safari */
  transition: bottom 1s;
  &.visible {
    bottom: 0;
  }
}