.nav-primary {
  font-family: $header-font-family;
  opacity: 0.9;
  position: fixed;
  bottom: -40px;
  width: 100%;
  z-index: 1000;
  background: #fff;
  fill: #fff;
  @include transPrefix(bottom 1s, opacity 0.5s);
  &.visible {
    bottom: 0;
    .nav-telephone {
      bottom: 45px;
    }
  }
  @include breakpoint(large) {
    opacity: 0.8;
    top: 0;
    bottom: auto !important;
  }
  .is-active {
    font-weight: 700;
  }
  &:hover {
    opacity: 0.95;
  }
}
.index .nav-primary {
  .nav-telephone .icon {
    background-color: $home;
  }
  .is-active {
    background: rgba(45, 175, 74, 0.1);
  }
}
.experience .nav-primary {
  .nav-telephone .icon {
    background-color: $experience;
  }
  .is-active {
    background: rgba(232, 152, 60, 0.1);
  }
}
.connect .nav-primary {
  .nav-telephone .icon {
    background-color: $connect;
  }
  .is-active {
    background: rgba(231, 76, 60, 0.1);
  }
}

// Telephone
.nav-telephone {
  position: absolute;
  bottom: 85px;
  right: 8px;
  @include transPrefix(bottom 1s);
  @include breakpoint(large) {
    top: 2px;
    right: 5px;
    bottom: auto !important;
  }
  a {
    background: none !important;
    display: inline-block;
    line-height: 0;
    font-size: 0;
    border-radius: 50%;
    @include breakpoint(large) {
      font-size: inherit;
    }
  }
  .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 12px;
    vertical-align: middle;
    border: 2px solid #fff;
    path {
      fill: inherit;
    }
    @include breakpoint(large) {
      width: 34px;
      height: 34px;
      padding: 6px;
    }
  }
}