html {
  height: 100%;
}

//I wouldn't go in there if I were you...
.the-hole {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 1000000px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

//Great.
.the-hole.sucked {
  transition: all 0.2s cubic-bezier(0,1.25,.4,1.92);
  cursor: none;
  width: 120px;
  height: 120px;
}

//Yeah...you're still a goner bud.
.the-hole.still-sucked {
  transition: none;
  cursor: none;
  width: 120px;
  height: 120px;
}

//Sayonara sucker.
.bye-bye {
 cursor: none;
 min-height: 100%;
}