$app-dashboard-top-nav-color: #2c3840;
$app-dashboard-top-nav-height: 55px;

.app-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-dashboard-body {
  display: flex;
  flex: 1 1 auto;
}

.app-dashboard-top-nav-bar  {
  align-items: center;
  background: $app-dashboard-top-nav-color;
  display: flex;
  flex: 0 0 $app-dashboard-top-nav-height;
  height: $app-dashboard-top-nav-height;
  justify-content: center;
  width: 100%;

  .menu-icon {
    vertical-align: text-bottom;
  }
}

.app-dashboard-logo {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}

.app-dashboard-search-bar-container {
  position: relative;
}

.app-dashboard-search {
  background: lighten($app-dashboard-top-nav-color, 10%);
  border: 0;
  color: $white;
  margin-bottom: 0;

  &:active,
  &:focus {
    background: darken($app-dashboard-top-nav-color, 5%);
  }
}

.app-dashboard-search-icon {
  color: $white;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.app-dashboard-top-bar-actions {
  align-items: center;
  display: flex;

  button {
    margin-bottom: 0;
    margin-right: 2rem;

    &.hollow {
      border-color: $white;
      color: $white;

      &:hover {
        background: $white;
        color: $primary-color;
      }
    }
  }

  .fa-info-circle {
    color: $white;
    font-size: 1.5rem;
  }
}

.app-dashboard-sidebar {
  background-color: $white;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
  z-index: 1;


  .app-dashboard-open-sidebar,
  .app-dashboard-close-sidebar{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .app-dashboard-sidebar-close-button {
    font-size: 14px;
  }

  .app-dashboard-sidebar-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .menu > li > a {
      align-items: center;
    }
  }
  .fa.large {
    font-size: rem-calc(24);
    width: 40px;
  }
}

.reveal-for-medium {
  .app-dashboard-open-sidebar {
    display: none;
  }
}

.app-dashboard-sidebar-footer {
  background: rgba(42, 57, 79, 0.8);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.app-dashboard-open-sidebar {
  text-align: center;
}

.app-dashboard-body-content {
  background-color: $white;
  flex: 1 1 0;
  overflow-y: auto;
  padding: 20px;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
}

// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .app-dashboard.shrink-medium {
    @include shrunk-sidebar()
  }
}
@include breakpoint(large) {
  .app-dashboard.shrink-large {
    @include shrunk-sidebar()
  }
}
