{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta-title}} | Project Name</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body class="body-route-{{page}} layout-{{layout}}">

    <div class="app-wrapper shrink-medium">
      {{> nav-main}}

      <div class="app-wrapper-body off-canvas-wrapper">
        {{> sidebar-main}}

        <div class="app-wrapper-body-content" data-off-canvas-content>

          {{> body}}

        </div>

      </div>

    </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
