<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{root}}assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="{{root}}assets/img/favicons/safari-pinned-tab.svg" color="#2daf4a">
    <meta name="theme-color" content="{{#ifpage 'index'}}#2daf4a{{/ifpage}}{{#ifpage 'experience'}}#E8983C{{/ifpage}}{{#ifpage 'connect'}}#E74C3C{{/ifpage}}">
    <title>Patrick Huber | Web design | Technology solutions</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body class="{{page}}">
    {{> navigation}}
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
    <script src="{{root}}assets/js/plugins/owl.carousel.min.js"></script>
  </body>
</html>